/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	align-items: center;
	margin-top: auto;
	
}

#grid{
	display: grid;
	background-color: white;
	height: 500px;
	width: 500px;
	grid-template-columns: repeat(2, 1fr); 
	grid-template-rows: repeat(2, 1fr);
	border: 1px solid black;
		
}

.grid-element {
	border: 1px solid black;
}

.grid-element:hover {
	background-color: black;
}

.nav {
	display: flex;
	flex-direction: column;
	width: 500px;
	justify-content: center;
	align-items: center;
}

#black-white {
	display: flex;
	width: 500px;
	height: 25px;
	margin-top: 25px;
	justify-content: center;
	text-align: center;
	}

#black {
	background-color: black;
	color: white;
	padding-top: 2px;
}

#white {
	background-color: white;
	color: black;
	padding-top: 2px;
}

#colours {
	margin-top: 5px;
	display: flex;
	width: 500px;
	height: 25px;
	}

.colours-cell {
	border: 1px solid black;
	width: 100px;
}

#red {
	background-color: red;
}

#orange {
	background-color: orange;
}

#yellow {
	background-color: yellow;
}

#green {
	background-color: green;
}

#aquamarine {
	background-color: rgb(127, 255, 244);
}

#blue {
	background-color: blue;
}

#purple {
	background-color: purple;
}

